<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Time</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Time Tracker</h1>
    <h4>Your Event Sourcing System for Billing</h4>
    <nav class="menu">
        <a href="log-time.html">Add Time</a>
        <a href="reports.html">Reports</a>
        <a href="payments.html">Payments</a>
        <a href="about.html">About</a>
        <a href="logout.html">Logout</a>
    </nav>
</header>
<main class="below-header">
    <div class="sections">
        <div class="section">
            <h3 class="title">Please enter your time</h3>
            <p>If you already added time today, it will be shown to the left of the form. Your last previous day with
                time entries will be shown.</p>
        </div>
        <div class="section" id="time-area">
            <div class="time-section">
                <h5>Last Day:</h5>
                {{ range yesterday }}
                <div class="entry">
                    <div><span>Project: {{ Project }}</span></div>
                    <div><span>Time: {{ StartHour }} : {{ StartMinute }}</span></div>
                    <div><span>Total Hours: {{ Hours }}</span></div>
                </div>
                {{ if-nothing }}
                <div><span>No money made that day!</span></div>
                {{ end }}
            </div>
            <div class="time-section">
                <h5>Earlier Today:</h5>
                {{ range today }}
                <div class="entry">
                    <div><span>Project: {{ Project }}</span></div>
                    <div><span>Time: {{ StartHour }} : {{ StartMinute }}</span></div>
                    <div><span>Total Hours: {{ Hours }}</span></div>
                </div>
                {{ if-nothing }}
                <div><span>Nothing yet! Get going!</span></div>
                {{ end }}
            </div>
            <div class="time-section">
                <h5>Please Enter in your time:</h5>

                <form action="/log-time.html" method="post">
                    <div id="time-grid">
                        <div id="date-label"><label for="hour">Date:</label></div>
                        <div id="date"><input name="date" type="text"/></div>
                        <div id="hour"><label>Hour:<input name="hour" type="text" value=""/>
                            </label><br/>
                            <label>Min:
                                <input name="minute" type="text" value=""/>
                            </label><br/>
                            <label>Hours:
                                <input name="total-hours" type="text" value=""/>
                            </label><br/>
                            <label>Project:
                                <input name="project" type="text" value=""/>
                            </label>
                        </div>
                        <div class="columns">
                            <div class="column is-one-third">
                                <input class="button " type="submit" value="log time"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>